/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
    display: flex;
    justify-content: center;
}
li {
    /*float: left;*/
    /*text-align: center;
}
li a, .dropbtn {
    display: inline-block;
    color: #333;
    /*text-align: center;*/
    /*padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    text-decoration: underline;
    text-decoration-color: #333;
}*/
/*
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}*/
/*
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}*/

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}

.logo {
  fill: rgb(76, 76, 75);
  z-index: 1;
  display: inline-block;
  position: relative;
  width: 275px;
  line-height: 40px;
  left: 50%;
  transform: translateX(-50%);
}


:focus {
    outline: 0px;
}


.site-header-container {
    position: relative;
}

.site-header:hover {
    color: rgb(76, 76, 75);
}

.site-header {
    z-index: 14;
    transition-property: background-color, color;
    transition-duration: 0.25s;
    top: 0px;
    left: 0px;
    width: 100%;
    min-width: 940px;
    color: rgb(76, 76, 75);
    background-color: rgb(255, 255, 255);
    position: relative;
    overflow: visible;
    margin: 0px auto;
}

.site-header__logo-container {
    z-index: 1;
    display: inline-block;
    position: relative;
    width: 275px;
    line-height: 40px;
}

.site-header__logo-container, .site-header__drop-down-menu {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

h1 {
    font-size: 26px;
    line-height: 42.068px;
}

/*a {
    text-decoration: none;
    color: rgb(169, 109, 92);
}*/


.site-header:hover .logo {
    fill: rgb(76, 76, 75);
}

.site-header .logo {
    transition-property: all;
    transition-duration: 0.25s;
    vertical-align: text-top;
    fill: rgb(76, 76, 75);
    margin: 20px 0px;
}

html|* > svg {
    transform-origin: 50% 50% 0px;
}

svg:not(:root), symbol, image, marker, pattern, foreignObject {
    overflow: hidden;
}
* {
    transform-origin: 0px 0px 0px;
}

.site-header__navigation {
    width: 100%;
    text-align: center;
    list-style: none;
}

ol, ul {
    list-style: none;
}

.site-header__top-level-menu-item {
    width: 11%;
    display: inline-block;
}

.site-header__top-level-menu-link {
    font-size: 13px;
    line-height: 21.034px;
    font-weight: normal;
    font-family: csb, "Century Schoolbook", Georgia, serif;
    font-style: normal;
    color: inherit;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 7px;
}

.account-bar {
    font-size: 13px;
    line-height: 21.034px;
    font-weight: normal;
    font-family: graphik, Arial, sans-serif;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 20%;
    right: 0px;
    overflow: inherit;
    padding: 0px 1%;
}

.account-bar__message {
    font-size: 12px;
    float: left;
    text-align: left;
    width: 35%;
}

.account-bar__nav {
    float: right;
    margin-right: 40px;
    text-align: right;
    width: 20%;
    max-width: 300px;
}

.account-bar .cart-container {
    z-index: 16;
    display: inline-block;
    position: absolute;
    top: -8px;
}

.account-bar .cart-trigger {
    display: block;
    height: 35px;
    width: 40px;
}

.account-bar .bag-icon {
    position: absolute;
    right: 0px;
    top: -4px;
}

.site-header:hover .bag-icon * {
    stroke: rgb(76, 76, 75);
}

.account-bar .bag-icon * {
    transition-property: all;
    transition-duration: 0.25s;
    stroke: rgb(76, 76, 75);
}

.account-bar__link {
    color: inherit;
    padding: 7px 20px 4px 10px;
}

a {
    text-decoration: none;
    cursor: pointer;
}
