.modal-title {
  font-size: 18px;
  line-height: 22.652px;
  font-family: 'csb', 'Century Schoolbook', Georgia, serif;
  text-align: center;
  padding: 40px 30px 30px 50px;
}

.facebook-flat {
  width: 100%;
  height: 50px;
  background: rgb(59, 89, 152);
  color: white;
  border: none;
  letter-spacing: 3px;
  margin: 25px 0px 35px 0px;
  font-family: 'graphik', 'Helvetica Neue', 'Helvetica Neue LT STD', 'Helvetica', 'Helvetica LT STD', 'Arial', 'sans-serif';
}

.facebook-flat:hover {
  background-color:rgb(41, 65, 114);
}
