.product-gallery {
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 5%
}

.product-gallery-thumbs {
  height: 100vh;
  background: white;
  /*display: flex;
  flex-direction: column;*/
  position: absolute;;
}

.product-thumb {
  height: 90px;
  width: 90px;
  // height: 5em;
  // width: 5em;
  background-color: black;
  margin-bottom: 10px;
}

.product-gallery-assets {
}

.product-gallery-info {

}

.product-gallery-info h3 {
  text-align: center;
  color: #4C4C4E;
  font-family: 'csb', 'Century Schoolbook', Georgia, serif;
  text-align: center;
  margin-top: 20px;
}

.add-to-cart {
  font-size: 12px;
  line-height: 35px;
  font-family: 'graphik', 'Helvetica Neue', 'Helvetica Neue LT STD', 'Helvetica', 'Helvetica LT STD', 'Arial', 'sans-serif';
  width: 100%;
  /*position: relative;*/
  width: 100%;
  font-size: 14px;

  letter-spacing: 0.05rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #4c4c4b;
  border: 0;
  cursor: pointer;
  padding: 10px 35px;
  color: #fff;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-top: 40px;
}

.product-page__info {
    text-align: left;
    color: #a3a5a7;
    padding-bottom: 20px;
}


.product-info__headline {
    font-size: 10px;
    line-height: 16.18px;
    font-weight: normal;
    font-family: 'graphik', 'Helvetica Neue', 'Helvetica Neue LT STD', 'Helvetica', 'Helvetica LT STD', 'Arial', 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 5px;
}


.product-details__container {
    font-size: 12px;
    line-height: 19.416px;
    font-weight: normal;
    font-family: 'graphik', 'Helvetica Neue', 'Helvetica Neue LT STD', 'Helvetica', 'Helvetica LT STD', 'Arial', 'sans-serif';
    color: #808284;
}


.product-details__item--fabric {
    background-image: url(./img/material-svg.svg);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position-x: left;
    background-position-y: 0.1em;
}

.product-details__item {
    padding: 0 0 4px 29px;
}

.product-detail__link {
    color: #a3a5a7;
    padding-left: 0.3em;
}

.product-details__item--factory {
    background-image: url(./img/globe-svg.svg);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position-x: left;
    background-position-y: 0.1em;
}

.product-details__item--email {
    background-image: url(./img/email-svg.svg);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position-x: left;
    background-position-y: 0.1em;
}

.product-description p {
    font-size: 12px;
    line-height: 19.416px;
    font-family: 'graphik', 'Helvetica Neue', 'Helvetica Neue LT STD', 'Helvetica', 'Helvetica LT STD', 'Arial', 'sans-serif';
    color: #808284;
}

.product-asset {
  width: 100%;
  height: 60%;
  padding-bottom: 10px;
}

.product-sizes {
  display: flex;
  flex-flow: row;
  text-align: center;
  padding-top: 15px;
}

.sizes-section {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-sizes {
  font-size: 12px;
  line-height: 19.416px;
  font-family: 'graphik', 'Helvetica Neue', 'Helvetica Neue LT STD', 'Helvetica', 'Helvetica LT STD', 'Arial', 'sans-serif';
  color: #808284;

}

.product-size input:hover {
  border: #808284 1px solid;
  color: inherit;
  padding: 7px;
  text-decoration: none;
}

.size-select input[type=submit]:focus {
  border: #808284 1px solid !important;
  color: inherit;
  padding: 7px;
  text-decoration: none;

}

.size-select input[type=submit]:active {
  border: #808284 1px solid !important;
  color: inherit;
  padding: 7px;
  text-decoration: none;

}


.product-size input {
  border: 1px solid transparent;
  padding: 7px;
  background-color: transparent;
}

a {
  color: inherit;
}

.transparent-pricing {
  width: 100%;
}
