

.cp-content {
    margin: auto;
    max-width: 100vw;
    max-height: 450px;
    margin-bottom: 10vh;
}

.ratio-28-9 {
    padding-bottom: 32.1429%;
    position: relative;
    height: 0px;
    background-color: rgb(247, 247, 248);
    overflow: hidden;
    background-image: url("https://everlane-2.imgix.net/static/subhero_assets/20160220_BoldStripe_SubheroSA_Deliver.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width: 100%;
}

img {
  display: block;
  margin: auto;
}

.groupings {
  width: 100%;
}

.product-name {
  color: #4C4C4E;
  font-family: 'csb', 'Century Schoolbook', Georgia, serif;
  text-align: center;
  margin-top: 20px;
}

.product-grouping {
  display: flex;
  flex-wrap: wrap;
}

.product-display {
  width: 30vw;
  height: 30vh;
  margin: 2vh 1.66vw;
}
.product-display p {
  text-align: center;
}
.product-display h6 {
  text-align: center;
  font-size: .75em;
}

.product-image {
  width: 100%;
  height: 90%;
}
