body {
  width: 100vw;
}

.products {
  float:left;
  flex-direction: row;
  width: 20vw;

}

.product-list {
  display: flex;
  flex-flow: wrap-reverse;;
  max-width: 100vw;
  padding-top: 10vh;

}

.product-input {
  display: flex;
  padding: 10%;
}
