<navbar-dir></navbar-dir>

<section class="checkout-preview">
  <a ui-sref="womens-all">Back to shopping</a>

  <div class="checkout-list" ng-repeat="product in cartItemsDetails">
  <!-- merge the cartItems array above to cartItemsDetails with map -->
<!-- ng-repeat="product in cartItemsDetail" -->
    <div class="checkout-list-thumbnail">
      <img  src="{{product.main_image_url}}">
    </div>

    <p>{{product.product_name}}  {{product.price | currency:"$":0}}<a class="delete-item" ng-click="deleteItemFromCart(product.cartid)">x</a></p>
    <p>Size: {{product.size}}</p>
    <p>Color: {{product.color}}</p>
    <p>
      <a ng-click='decrementQuantity(product.quantity, product.cartid); product.quantity = product.quantity - 1'> - </a>
      {{product.quantity}}
      <a ng-click='incrementQuantity(product.quantity, product.cartid); product.quantity = product.quantity + 1'> + </a>
    </p>

  </div>


  <div class="order_summary_container">
    <div id="order-details">
      <table class="order-summary" id="order_summary">
        <tbody>
          <tr>
            <th colspan="2">Order Summary</th>
          </tr>
          <tr>
            <td class="label">Subtotal</td>
            <td class="value">{{orderTotal | currency:"$":0}}</td>
          </tr>
          <tr>
            <td class="label">Shipping</td>
            <td class="value">{{shipping | currency}}</td>
          </tr>
          <tr>
            <td class="label">Tax</td>
            <td class="value">{{tax | currency}}</td>
          </tr>
          <tr>
            <td class="label">Total</td>
            <td class="value">{{total | currency}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<stripe-payment></stripe-payment>
<!-- <form action="/api/charge" method="POST" id="stripeForm">
  <input type="hidden" name="price" value="{{total}}" />
  <script
    src="https://checkout.stripe.com/checkout.js" class="cart-charge-checkout"
    data-key="pk_test_hC6fkYywOPHze3b3UZhEwjPN"

    data-name="Everlane checkout"
    data-description="Your final cart total is"
    data-image="https://pbs.twimg.com/profile_images/684546698538926081/N0kGR9pm.jpg"
    data-locale="auto">
  </script>
</form> -->

</section>
