<navbar-dir></navbar-dir>

<section class="checkout-preview">
  <a ui-sref="womens-all">Back to shopping</a>

  <div class="checkout-list" ng-repeat="product in cartItemsDetails">
  <!-- merge the cartItems array above to cartItemsDetails with map -->
<!-- ng-repeat="product in cartItemsDetail" -->
    <div class="checkout-list-thumbnail">
      <img  src="{{product.main_image_url}}">
    </div>

    <p>{{product.product_name}}<a class="delete-item" ng-click="deleteItemFromCart(product.cartid)">x</a></p>
    <p>Size: {{product.size}}</p>
    <p>Color: {{product.color}}</p>
    <p>
      How much ya want <br>

      <a ng-click=('decrementQuantity(product.quantity)')></a>{{product.quantity}}
    </p>

  </div>


</section>
