<navbar-dir></navbar-dir>

<section ng-show="!cartExists">
  <h1>Cart is empty</h1>
  <a ui-sref="womens-all"> < Back to shopping</a>
</section>

<!-- <a ui-sref="womens-all">Back to shopping</a> -->


<section class="checkout-preview" ng-show="cartExists">

<div class="checkout-summary">
  <div class="checkout-list" ng-repeat="product in cartItemsDetails">
    <div class="checkout-list-thumbnail">
      <img  src="{{product.main_image_url}}">
    </div>

    <p>{{product.product_name}} <a class="delete-item" ng-click="deleteItemFromCart(product.cartid)">x</a></p>
    <p>Size: {{product.size}}</p>
    <p>Color: {{product.color}}</p>
    <p>
      <a class="subtract-item" ng-click='decrementQuantity(product.quantity, product.cartid); product.quantity = product.quantity - 1'> - </a>
      {{product.quantity}}
      <a class="add-item" ng-click='incrementQuantity(product.quantity, product.cartid); product.quantity = product.quantity + 1'> + </a>
      <p class='product-price'> {{product.price | currency:"$":0}} </h6>
    </p>

  </div>
</div>



  <div class="order_summary_container">
    <div class="order-details">
      <table class="order-summary" id="order_summary">
        <tbody>
          <tr>
            <th colspan="2">Order Summary</th>
          </tr>
          <tr>
            <td id="label">Subtotal</td>
            <td id="value">{{orderTotal | currency:"$":0}}</td>
          </tr>
          <tr>
            <td id="label">Shipping</td>
            <td id="value">{{shipping | currency}}</td>
          </tr>
          <tr>
            <td id="label">Tax</td>
            <td id="value">{{tax | currency}}</td>
          </tr>
          <tr>
            <td id="label">Total</td>
            <td id="value">{{total | currency}}</td>
          </tr>
        </tbody>
      </table>

      <stripe-payment></stripe-payment>

    </div>
  </div>


</section>
