
<div class="cp-content">
  <div class="ratio-28-9">
    <a href=""></a>
  </div>
</div>

  <section class="groupings" ng-repeat="(key, value) in products">

    <h3 class="product-name">{{key}}</h3>
    <div class="product-grouping">


        <div class="product-display" ng-repeat="color in value">
          <img class="product-image" src="{{color.image | trusted}}"
          ng-click="getWomensProduct(id)" ui-sref="womens-product({ id: color.id })">
        </img>
          <h6>
            {{key}} - ${{color.price}}
          </h6>

          <p>
            {{color.color}}
          </p>
        </div> <!--end product display -->



       </div> <!--end product grouping -->

</section>
